/// Create circle of any size
/// @author Azin Asili
/// @access public
/// @param {number} $width - Width to shape
/// @param {number} $height [null] - Height to shape
/// @param {number} $radius [100%] - Border-radius to shape
/// @throw Error when at minimum no `$height` parameter is passed
/// @output CSS circle based on height and width
/// @example scss
///   .foo {
///     @include circle(50px, 20px);
///   }
/// @example css
///   .foo {
///     border-radius: 100%;
///     height: 20px;
///     width: 50px;
///   }
@mixin circle($width, $height: null, $radius: 100%) {
  border-radius: $radius;
  @if $height == null {
    $height: $width;
  }
  height: $height;
  width: $width;
}
