/// Create circle of any size
///
/// @access public
///
/// @param {number (with unit)} $width
///   Width of circle
///
/// @param {number (with unit)} $height [$width]
///   Height of circle
///
/// @param {number (with unit)} $radius [50%]
///   Border-radius of circle
///
/// @example scss
///   .foo {
///     @include circle(50px, 20px);
///   }
///
/// @example css
///   .foo {
///     border-radius: 50%;
///     height: 20px;
///     width: 50px;
///   }
@mixin circle($width, $height: $width, $radius: 50%) {
  border-radius: $radius;
  height: $height;
  width: $width;
}
