/// Remove list styles. For Semantic reasons, only use on unordered lists
///
/// @access public
///
/// @example scss
///   .foo {
///     @include list-unstyled();
///   }
///
/// @example css
///   .foo {
///     list-style: none;
///     margin: 0;
///     padding: 0;
///   }
@mixin list-unstyled() {
  list-style: none;
  margin: 0;
  padding: 0;
}
