/// Convert property and px value(s) to rem
///
/// @access public
///
/// @param {string | property} $property
///   Property to convert value(s)
///
/// @param {number (with unit)} $values
///   Value(s) to convert from px to rem
///
/// @param {number (with unit)} $base [_get-setting($bytes, 'font-size')]
///   Base context for calculation
///
/// @param {boolean | string} $is-important
///   Add important flag to declaration
///
/// @example scss
///   .foo {
///     @include rem(margin, 10px auto);
///     @include rem(padding, 10px);
///   }
///
/// @example css
///   .foo {
///     margin: .625rem auto;
///     padding: .625rem;
///   }
///
/// @require {function} _get-setting
///
/// @require {function} _is-important
///
/// @require {function} rem
@mixin rem(
  $property,
  $values,
  $base: _get-setting($bytes, 'font-size'),
  $is-important: null
) {
  $_important: null;

  @if _is-important($is-important) {
    $_important: !important;
  }

  #{$property}: rem($values, $base) $_important;
}
