/// Set key/value pair from map as CSS property and value
/// @author Azin Asili
/// @access public
/// @param {map} $map - Name of map
/// @param {key | map} $keys... - Name of key of a nested map
/// @require {function} get - Return key value from a map
/// @output Key/value pair in a map set as property and value
/// @example scss
///   $map: (
///     background: #000,
///     color: #fff,
///     hover: (
///       color: #eee
///     )
///   );
///   .foo {
///     @include set($map);
///
///     &:hover {
///       @include set($map, hover);
///     }
///   }
/// @example css
///   .foo {
///     background: #000;
///     color: #fff;
///   }
///   .foo:hover {
///     color: #eee;
///   }
@mixin set($map, $keys...) {
  $_i: 1;
  $_length: length($keys);

  // Get items from map
  @while $_length >= $_i {
    $map: get($map, nth($keys, $_i));
    $_i: $_i + 1;
  }

  // Print styles that are not a map
  @each $property, $value in $map {
    @if type-of($value) != map {
      #{$property}: $value;
    }
  }
}
