/// Truncate overflow text
///
/// @access public
///
/// @param {number (with unit)} $width [100%]
///   Max-width of overflow element
///
/// @param {string} $style ['ellipsis']
///   Truncate overflow style
///
/// @example scss
///   .foo {
///     @include truncate();
///   }
///
/// @example css
///   .foo {
///     max-width: 100%;
///     overflow: hidden;
///     text-overflow: ellipsis;
///     white-space: nowrap;
///     word-wrap: nowrap;
///   }
@mixin truncate($width: 100%, $style: 'ellipsis') {
  max-width: $width;
  overflow: hidden;
  text-overflow: unquote($style);
  white-space: nowrap;
  word-wrap: normal;
}
