/// Set width based on given min, max, or length
///
/// @access public
///
/// @param {number (with unit)} $min [null]
///   Minimum width of element
///
/// @param {number (with unit)} $max [null]
///   Maximum width of element
///
/// @param {number (with unit)} $width [100%]
///    Width of element
///
/// @example scss
///   .foo {
///     @include width(300px, 1500px);
///   }
///
/// @example css
///   .foo {
///     max-width: 1500px;
///     min-width: 300px;
///     width: 100%;
///   }
@mixin width($min: null, $max: null, $width: 100%) {
  max-width: $max;
  min-width: $min;
  width: $width;
}
