/// Set width based on given max
/// @author Azin Asili
/// @access public
/// @param {number} $max - Max width of element
/// @param {number} $min - Min width of element
/// @throw Warning when arguments are not a number
/// @output Max-width, min-width, and width for responsive element
/// @example scss
///   .foo {
///     @include width(1500px, 300px);
///   }
/// @example css
///   .foo {
///     min-width: 300px;
///     max-width: 1500px;
///     width: 100%;
///   }
@mixin width($max, $min: null) {
  @if type-of($min) != number or type-of($max) != number {
    @warn '`$min` and `$max` must be numbers';
  }
  @if $min != null {
    min-width: $min;
  }
  max-width: $max;
  width: 100%;
}
