/// Set width based on given min, max, or length
/// @author Azin Asili
/// @access public
/// @param {number} $min [null] - Minimum width of element
/// @param {number} $max [null] - Maximum width of element
/// @param {number} $width [100%] - Width of element
/// @output Values for max-width, min-width, and/or width
/// @example scss
///   .foo {
///     @include width(300px, 1500px);
///   }
/// @example css
///   .foo {
///     max-width: 1500px;
///     min-width: 300px;
///     width: 100%;
///   }
@mixin width($min: null, $max: null, $width: 100%) {
  @if $max != null {
    max-width: $max;
  }

  @if $min != null {
    min-width: $min;
  }

  width: $width;
}
