/// Convert px to a value for em/rem
///
/// @access private
///
/// @param {number (with unit)} $px
///   Number to convert
///
/// @param {number (with unit)} $base
///   Base context value
///
/// @return {number}
///
/// @require {function} strip-unit
///
/// @require {function} _get-setting
@function _convert-px($px, $base) {
  $_px: strip-unit($px);
  $_font-size: strip-unit(_get-setting($bytes, 'font-size'));

  @if unit($base) == 'em' or unit($base) == 'rem' {
    $base: (strip-unit($base) * $_font-size);
  } @else {
    $base: strip-unit($base);
  }

  @return ($_px / $base);
}
