/// Iterate value(s) and convert to em
///
/// @access public
///
/// @param {number (with unit) | list} $values
///   Value(s) to convert to em
///
/// @param {number (with unit)} $base [_get-setting($bytes, 'font-size')]
///   Base context for calculation
///
/// @return {list}
///
/// @example scss
///   .foo {
///     padding: em(10px 20px);
///   }
///
/// @example css
///   .foo {
///     padding: .625em 1.25em;
///   }
///
/// @require {function} _get-setting
///
/// @require {function} _convert-px
@function em($values, $base: _get-setting($bytes, 'font-size')) {
  $_em-values: ();

  // Decide how to handle each value
  @each $value in $values {
    @if type-of($value) != number or unit($value) != 'px' or index((0, 1, -1), $value) {
      $_em-values: append($_em-values, $value);
    } @else {
      $_em-value: _convert-px($value, $base) * 1em;
      $_em-values: append($_em-values, $_em-value);
    }
  }

  @return $_em-values;
}
