/// Iterate value(s) and convert to em
/// @author Azin Asili
/// @access public
/// @param {number | list} $values - px value(s) to convert
/// @param {number} $base [_get-setting($bytes, 'font-size')] - em context
/// @require {function} _get-setting - Gets setting based on defaults and user settings
/// @require {function} _convert-px - Convert px to a value for em/rem
/// @return {number | list} Converted em value(s)
/// @example scss
///   .foo {
///     padding: em(10px 20px);
///   }
/// @example css
///   .foo {
///     padding: .625em 1.25em;
///   }
@function em($values, $base: _get-setting($bytes, 'font-size')) {
  $_em-values: ();

  // Decide how to handle each value
  @each $value in $values {
    @if type-of($value) != number or unit($value) != 'px' or index((0, 1, -1), $value) {
      $_em-values: append($_em-values, $value);
    } @else {
      $_em-value: _convert-px($value, $base) * 1em;
      $_em-values: append($_em-values, $_em-value);
    }
  }

  @return $_em-values;
}
