/// File path short cut for embeddable media
/// @author Azin Asili
/// @access public
/// @param {string} $name - Name of media to append to url
/// @param {url} $path [_get-setting($_bytes-default, $bytes, 'media-path')] - Directory of media to display
/// @require {function} _get-setting - Gets setting based on defaults and user settings
/// @throw Error when $name does not have a valid extension
/// @return {url} url of media
/// @example scss
///   $bytes: (
///      'media-path': '../img';
///   ):
///   .foo {
///      background: path('kitten.jpg') no-repeat 0 0;
///   }
/// @example css
///   .foo {
///      background: url('../img/kitten.jpg') no-repeat 0 0;
///   }
@function path($name, $path: _get-setting($_bytes-default, $bytes, 'media-path')) {
  $ext: ('.mp4', '.webm', '.ogg', '.ogv', '.mp3', '.wav', '.oga', '.aac', '.flv', '.swf', '.png', '.jpg', '.jpeg', '.gif', '.bmp', '.svg');
  $valid-ext: false;

  @each $item in $ext {
    @if $item == str-slice($name, str-length($item) * -1) {
      $valid-ext: true;
    }
  }

  @if not $valid-text {
    @error '#{$name} has an invalid file extension for `path()`';
  }

  @return url('#{$path}/#{$name}');
}
