/// File path short cut for assets
///
/// @access public
///
/// @param {string} $name
///   Name of asset
///
/// @param {url} $path [_get-setting($bytes, 'media-path')]
///   Directory path to asset
///
/// @return {function}
///
/// @example scss
///   $bytes: (
///      'media-path': '../img';
///   ):
///   .foo {
///      background: path('kitten.jpg') no-repeat 0 0;
///   }
///
/// @example css
///   .foo {
///      background: url('../img/kitten.jpg') no-repeat 0 0;
///   }
///
/// @throw Error when `$name` has an invalid file extension
///
/// @require {function} _get-setting
@function path($name, $path: _get-setting($bytes, 'media-path')) {
  $_ext: ('.mp4', '.webm', '.ogg', '.ogv', '.mp3', '.wav', '.oga', '.aac', '.flv', '.swf', '.png', '.jpg', '.jpeg', '.gif', '.bmp', '.svg');
  $_valid-ext: false;

  @each $item in $_ext {
    @if $item == str-slice($name, str-length($item) * -1) {
      $_valid-ext: true;
    }
  }

  @if not $valid-text {
    @error '`#{$name}` has an invalid file extension for `path()`';
  }

  @return url('#{$path}/#{$name}');
}
