/// Remove list item styles. For Semantic reasons list-unstyled()
/// should only be used on unordered lists
/// @author Azin Asili
/// @access public
/// @output CSS to remove list styling
/// @example scss
///   .foo {
///     @include list-unstyled();
///   }
/// @example css
///   .foo {
///     list-style: none;
///     margin: 0;
///     padding: 0;
///   }
@mixin list-unstyled() {
  list-style: none;
  margin: 0;
  padding: 0;
}
